body {
   background-color: #e1fef0;
}

/* .container, .container1, .container2, .container3, .container4 {
    display: flex;
    flex-wrap: wrap;
} */
/* This is the top two section */
.container, .container1 {
    display: flex;
    /* margin: ; */
    border: .1px solid;
    width: 99px;
    height: 20vh;
    /* padding-left: 15px; */
    /* margin-left: 15px; */
    /* text-align: center; */
    /* font-size: 30px; */
 }

#image {
    clear: right;
}

 #box1 {
    float: left;
    width: 65%;
 }

#table {
    margin-top: 0%;
    display: table-row-group;
}

#name {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0;
}

#title {
    margin-top: 0;
    
}

/* This is the top right section */
.container1 {
   /* float: right inline-start;"
}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}
   \]['''';p][';
   / */
}

 #box2 {
   width: 30%;
   /* border-right: 5px; */
   /* border-width: 5%; */
   padding-left: 2%;
   /* margin-right: 15px; */
 }

 .left {
    text-align: right;
 }


 /* This is section 3 under the top two */
 .container2 {
    border: .1px solid;
    width: 100%;
    /* width: 100%; */
    /* padding-left: 15px; */
    /* margin-left: 15px; */
 }

 #box3 {
    /* width: 100% */
 }


 /* This is the employment section */
 .container3 {
    border: .1px solid;
    /* width: 90%; */
    /* padding-left: 15px;
    margin-left: 15px; */

    /* border: .1px solid;
    width: 200%;
    padding-left: 15px;
    margin-left: 15px;
    float: right inline-start; */
 }
 

.program {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0px 0px 10px 00px;
}
 
#box4 {
   float: left;
   width: 70%;
}

#two, #three {
    /* display: flex;
    justify-content: flex-start; */
   width: 100%;

   /* float: left;
   width: 50%; */
}

 .right {
    text-align: right;
 }

.table {
   width: 100%;
   margin: 0px 0px 0px 5px;
}

.text1 {
   font-weight: bold;
   margin: 0%;
}

.nameTile {
   margin: 0px 0px 0px 20px;
}

.border {
   background-color: #abf0cf;
}



 /* This is the programming section */
 .container4 {
    border: .1px solid;
    width: 200%;
    /* padding-left: 15px;
    margin-left: 15px; */
    float: right inline-start;
    margin: 0px 0px 0px 10px;
    height: 70vh;
    /* height: 20vh; */
 }

#box5 {
   float: left;
   /* width: 40%; */
}

.margin {
   margin: 0px 0px 4px 10px;
   
}

.container5 {
   border: 1px none;
   height: 2vh;
   width: 40%;
   text-align: right;
}

#boxSkill1 {
   /* background-color: violet; */
   /* background-size: 50%; */
   /* background-image: linear-gradient(90deg, #090979fd 35%, #ffffff 100%); */
   background: linear-gradient(90deg, #a00a0a, #a00a0a, #a00a0a, #d31818dd, #ffffff)
}

#boxSkill2 {
   background: linear-gradient(90deg, #66917d, #66917d, #66917d, #66917d, #a7eacb, #ffffff, #ffffff)
}

#boxSkill3 {
   background: linear-gradient(90deg, #8a5c98, #8a5c98, #8a5c98, #8a5c9835)
}

#boxSkill4 {
   background: linear-gradient(90deg, #a06f1a, #a06f1a, #a06f1a, #a06f1a, #df9b25, #ffffff, #ffffff)
}

#boxSkill5 {
   background: linear-gradient(90deg, #a02163, #a02163, #a02163e8, #ffffff, #ffffff)
}

#green {
   width: 60px;
   margin-left:9px;
}

#red {
   width: 60px;
   margin-left:8px;
}

#yellow {
   width: 60px;
   margin-left: 15px;
}

 /* aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    /* font-style: italic; */
    /* background-color: lightgray;
} */ 
